<mat-card>
  <mat-card-header>
    <mat-card-title>
      <ng-container *ngIf="gameFinished();else showTurn">
        <span class="mat-warn">Game finished</span>
      </ng-container>
      <ng-template #showTurn>
        It's {{game?.currentTurn?.color}}'s turn
      </ng-template>
    </mat-card-title>
    <mat-card-subtitle>
      <app-game-timer></app-game-timer>
      <ng-container *ngIf="game?.status !== 'FINISHED';else showStartNewGame">
        <button (click)="pauseGame()" *ngIf="!(gamePaused | async)" color="warn" mat-button>
          Pause game
        </button>
        <button (click)="unpauseGame()" *ngIf="(gamePaused | async)" color="primary" mat-button>
          Unpause game
        </button>
      </ng-container>
      <ng-template #showStartNewGame>
        <button (click)="startNewGame()" color="primary" mat-button>
          New game
        </button>
      </ng-template>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3>Possible Moves: {{game?.currentTurn?.possibleMoves?.length}}</h3>
    <h3>How to play:</h3>
    <p>When it's your turn click on one of your pieces to see possible moves.</p>
    <p> Moves are allowed only on the dark squares, so pieces always move diagonally. Single pieces are always limited
      to forward moves (toward the opponent).</p>
    <p> A piece making a non-capturing move (not involving a jump) may move only one square.</p>
    <p> A piece making a capturing move (a jump) leaps over one of the opponent's pieces, landing in a straight diagonal
      line on the other side. Only one piece may be captured in a single jump; however, multiple jumps are allowed
      during a single turn.</p>
    <p> When a piece is captured, it is removed from the board.</p>
    <p> If a player is able to make a capture, there is no option; the jump must be made. If more than one capture is
      available, the player is free to choose whichever he or she prefers.</p>
    <p> When a piece reaches the furthest row from the player who controls that piece, it is crowned and becomes a king.
      One of the pieces which had been captured is placed on top of the king so that it is twice as high as a single
      piece.</p>
    <p> Kings are limited to moving diagonally but may move both forward and backward. (Remember that single pieces,
      i.e. non-kings, are always limited to forward moves.)</p>
    <p> Kings may combine jumps in several directions, forward and backward, on the same turn. Single pieces may shift
      direction diagonally during a multiple capture turn, but must always jump forward (toward the opponent).</p>
  </mat-card-content>
</mat-card>
